[submodule "src/build"]
	path = src/build
	url = git@github.com:tranche-jibrel/defi-abis.git
	branch = frontend-master
[submodule "src/src/build"]
	path = src/src/build
	url = git@github.com:tranche-jibrel/defi-abis.git
	branch = frontend-master
